<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">NGX-FANCY-LOGGER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLink="/home" routerLinkActive="active">
          <a class="nav-link" >Home</a>
        </li>
        <li class="nav-item" routerLink="/demo" routerLinkActive="active">
          <a class="nav-link" >Play with Demo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" [href]="EXTERNAL_URL.npm">Documentation</a>
        </li>
      </ul>
      <div>
        <a class="icon" [href]="EXTERNAL_URL.npm" target="_blank"><i class="fab fa-npm fa-2x"></i></a> 
        <a class="icon" [href]="EXTERNAL_URL.git" target="_blank"><i class="fab fa-github fa-2x"></i></a> 
      </div>
    </div>
  </nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>

<footer class="text-center bg-light pt-2">
  Made with ❤️ by <a [href]="EXTERNAL_URL.ngdevelop" target="_blank" >NgDevelop</a>. 
  If you like this library, mark ⭐ in <a [href]="EXTERNAL_URL.git" target="_blank"> GitHub </a> repository. 
</footer>