.navbar{
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar .fa{
    color:white;
}

.nav-item{
    cursor: pointer;
}

.icon i{
    color: rgba(255,255,255,.5);
    padding: 0px 5px;
}

.icon i:hover{
    color:rgba(255,255,255,.8);
    padding: 0px 5px;
}

footer {
    position: fixed;
    height: 40px;
    bottom: 0;
    width: 100%;
}

.container-fluid{
    margin-bottom: 45px;
}

@media (max-width: 576px) { 
    footer{
        height: 60px;
    }
    .container-fluid{
        margin-bottom: 65px;
    }
 }