.navbar .fa{
    color:white;
}

.nav-item{
    cursor: pointer;
}

.icon i{
    color: rgba(255,255,255,.5);
    padding: 0px 5px;
}

.icon i:hover{
    color:rgba(255,255,255,.8);
    padding: 0px 5px;
}

footer {
    position: fixed;
    height: 40px;
    bottom: 0;
    width: 100%;
}

.container-fluid{
    margin-bottom: 40px;
}