<div class="row">
    <div class="col-md-4 p-1">
        <div class="card bg-light">
            <div class="card-body">
                <h4 class="card-title">Configuration</h4>
                <div class="configChecks">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
                            Show Time
                        </label>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
                            Show Emoji
                        </label>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
                            Show Label
                        </label>
                    </div>


                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
                            Disable Logs
                        </label>
                    </div>

                </div>
                <hr>
                <table class="levelColor table  table-borderless">
                        <tr>
                            <td scope="row"><b>Log Level</b></td>
                            <td>
                                  <select class="logLevelSelect form-control" name="" id="">
                                    <option *ngFor="let level of logLevels" [value]="level">{{logLevelEnum[level]}}</option>
                                  </select>
                            </td>
                        </tr>
                </table>

                <table class="levelColor table  table-borderless">
                    <thead>
                        <tr>
                            <th colspan="2">Level Color</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let l of levels">
                            <td scope="row">{{l}}</td>
                            <td><input class="form-control" type="text"></td>
                        </tr>
                    </tbody>
                </table>
                <table class="levelColor table  table-borderless">
                    <thead>
                        <tr>
                            <th colspan="2">Level Emoji</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let l of levels">
                            <td scope="row">{{l}}</td>
                            <td><input class="form-control" type="text"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>


    </div>
    <div class="col-md-8 p-1">
        <div class="card bg-light">
            <div class="card-body">
                <h4 class="card-title">Header Style Log</h4>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" placeholder="Enter Header Text" class="form-control p2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-between">
                        <input type="text" class="form-control" placeholder="Color">
                        <input type="text" class="ml-1 form-control" placeholder="Font Size">
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-info mr-0">Show Header Log</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="card bg-light">
            <div class="card-body">
                <h4 class="card-title">Log Statement</h4>
                <div class="row">
                    <div class="col-md-12">
                        <textarea type="text" row="3" placeholder="Enter Text or JSON Object "
                            class="form-control p2"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue"
                                    checked>
                                JSON Object
                            </label>
                        </div>
                    </div>

                    <div class="col-md-8 text-right">
                        <button type="button" class="btn btn-info mr-1">INFO</button>
                        <button type="button" class="btn btn-dark mr-1">DEBUG</button>
                        <button type="button" class="btn btn-warning mr-1">WARNING</button>
                        <button type="button" class="btn btn-danger">ERROR</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>